Source: libliberatango
Standards-Version: 3.1.0
Section: utils
Maintainer: MAXIV Laboratory <kits@maxlab.lu.se>, Cosylab d.o.o. <info@cosylab.com>
Homepage: https://github.com/MaxIV-KitsControls/LiberaTango
Vcs-Git: https://github.com/MaxIV-KitsControls/LiberaTango.git
Vcs-Browser: https://github.com/MaxIV-KitsControls/LiberaTango
Priority: optional
Build-Depends: debhelper (>= 7.0.0),
               libtango-dev (>= 9.2.5),
               libera-base3.2-dev,
               libera-mci3.2-dev

Package: libliberatango
Architecture: i386
Depends: libtango9, libera-base3.2, libera-mci3.2
Description: Shared Libraries for Libera devices

Package: libliberatango-dev
Architecture: i386
Depends: libtango9, libera-base3.2, libera-mci3.2
Description: Development library for Libera devices
